#analysis,#suggestion{
	text-align:center;
	font-weight: bold;
	margin-bottom:20px;
	padding-top:10px;
}
form{
	width: 400px;
	margin: 0 auto;
}
		
#password{
	width:inherit;
	height:25px;
}
.weak{
	background-color:red;
}
.average{
	background-color:yellow;
}
.strong{
	background-color:skyblue;
}
.secure{
	background-color:greenyellow;
}
.breakdownText {
	font-weight: bold;
	float: right;
}
.result{
	height:25px;
	background-color:lightgray;
	text-align:center;
}
